@mixin flexRow{
    display:flex;
    flex-direction: row;
}
@mixin flexColumn{
    display:flex;
    flex-direction: column;
}
@mixin buttons ($bg-color, $color, $padding,$mg-top){
    background-color: $bg-color;
    color:$color;
    padding:$padding;
    cursor: pointer;
    font-family:$familiaSerif;
    margin-top: $mg-top;
}
@mixin parrafotexto ($fontfamily, $fontsize, $textalign){
    font-family:$fontfamily;
    font-size: $fontsize;
    text-align: $textalign;
}
@keyframes beat {
    0% {transform: scale(1)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1)}
}
.button-style {
    @include buttons (black,white,5px,0);
}
.button-style:hover {
    @include buttons (#fa2929,black,5px,0);
    animation : beat 0.5s ease-in-out;
}
.button-style2 {
    @include buttons(black,white ,10px ,40px)
}
.button-style2:hover{
    @include buttons(rgb(89, 88, 88),white,10px,40px)
}
.gorro{
    width: 200px;
}
.tituloppal{
    text-align: $tcenter; 
}
.hrnegra{
    background-color: $color-dos;
    margin-top: 50px;
    height: 10px;
}
.colorBarra{
    background-color: $color-dos;
}
h2 {
    @include parrafotexto ($familiaSerif, 50px,$tcenter );
    padding: 20px;
    color: #fa2929;
}

h3{ 
    color: $color-tres;
    font-size: 24px;    
    font-family:$familiaSerif;

}

h4{
    color: $color-uno;
    font-size:25px;    
    font-family: $familiaSerif;
}
.contenedor {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.busquedayCarrito{
    display: flex;
    justify-content: flex-end;
}
.fondo{
    background-color: $color-cuatro;
    background: #FFFFFF;
    background: linear-gradient(211deg, rgba(255, 255, 255, 1) 34%, rgba(211, 211, 211, 1) 80%, rgba(46, 37, 37, 1) 100%);
}
.bordeSuperior{
    margin-top: 80px;
}
.barraSeparacion{
    background-color:$color-tres;
}
.relleno{
    height: 20px;
    background-color: $color-cuatro;
}






