@mixin flexRow{
    display:flex;
    flex-direction: row;
}
@mixin flexColumn{
    display:flex;
    flex-direction: column;
}
@mixin buttons ($bg-color, $color, $padding,$mg-top){
    background-color: $bg-color;
    color:$color;
    padding:$padding;
    cursor: pointer;
    font-family:$familiaSerif;
    margin-top: $mg-top;
}
@mixin parrafotexto ($fontfamily, $fontsize, $textalign){
    font-family:$fontfamily;
    font-size: $fontsize;
    text-align: $textalign;
}
@keyframes beat {
    0% {transform: scale(1)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1)}
}
.button-style {
    @include buttons (black,white,10px,0);
    border-radius: 12px;
}
.button-style:hover {
    @include buttons ($color-cuatro,black,10px,0);
    animation : beat 0.5s ease-in-out;
}
.button-style2 {
    @include buttons(black,white ,10px ,40px)
}
.button-style2:hover{
    @include buttons(rgb(89, 88, 88),white,10px,40px)
}
.button-style3{
    margin-top: 10px;
    @include buttons(black, black, 10, 10);
    border-radius:12px;
}
.button-style3:hover{
    @include buttons (#fa2929,black,10,10);
    animation : beat 0.5s ease-in-out;

}
.gorro{
    width: 120px;
}
.tituloppal{
    text-align: $tcenter; 
}
.hrnegra{
    background-color: $color-dos;
    margin-top: 50px;
    height: 10px;
}
.colorBarra{
    background-color: $color-dos;
}
.fondo{
    background: #FFFFFF;
    background: linear-gradient(211deg, rgba(255, 255, 255, 1) 34%, rgba(211, 211, 211, 1) 80%, rgba(46, 37, 37, 1) 100%);
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    @include parrafotexto ($familiaSerif, 40px,$tcenter );
    padding: 20px;
    color: #fa2929;
    

}

h3{ 
    color: $color-tres;
    font-size: 25px;    
    font-family:$familiaSerif;

}

h4{
    color: $color-uno;
    font-size:18px;    
    font-family: $familiaSerif;
}
h5{
    color: $color-dos;
    font-size:18px;    
    font-family: $familiaSerif;

}
.contenedor {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.busquedayCarrito{
    display: flex;
    justify-content: flex-end;
}
.colorBorde{ 
    background: #2E2525;
    background: linear-gradient(211deg, rgba(46, 37, 37, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(211, 211, 211, 1) 80%, rgba(46, 37, 37, 1) 100%);}
.bordeSuperior{
    margin-top: 40px;
}
.barraSeparacion{
    background-color:$color-tres;
}
.relleno{
    height: 20px;
    background-color: $color-cuatro;
}
.carritoCentrado{
    @include flexColumn;
    justify-content: center;
}
.collageeventos{
    width: 80%;
    padding-top: 40px;
}

.parrafoGral{
    @include parrafotexto($familiaSerif, 30px,center);
    color: #fa2929;
    padding-top: 30px;
}
.divEventos{
    display: flex;
    flex-direction: column;
}
.botonesPagProductos{
   @include flexRow;
   justify-content: space-evenly;
   margin: 50px;
}
.promoMes{
    color: $color-dos;
    font-size:20px;    
    font-family: $familiaSerif;
}
.promoMensual{
    @include flexColumn();
    align-items: center;
}
.novedadesTexto{
   background-color: $color-dos;
   text-align: $tcenter;
   margin-top: 20px;
   border-radius: 10px;
}
.parrafoPpal{
    color: $color-dos;
    font-size:20px;    
    font-family: $familiaSerif;
    padding: 60px;
    background-color: $color-cuatro ;
    text-align: center;
}
.novedades{
    margin:80px;
}
.CarouselDoble{
    @include flexRow();
    
    justify-content: space-between;
   
}
.carouselBanner{
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.carouselBanner:hover{
    opacity: 0.6;
    animation : beat 0.5s ease-in-out;


}
.carouselBanner2{
    height: 400px;
    object-fit: cover;

}
.carouselNovedades{
    padding: 100px;
    background-color:$color-cuatro;

}
.parrafoMarco{
    padding: 10px;
    color: $color-dos;
    text-align: center;
    margin: 0 150px;

}
