
.halloween{
    @include flexRow;
    justify-content: center;
    background-color: black;
    margin-bottom: 40px;
    margin-top: 50px
}


.eventoMensual{
    @include flexRow;
    justify-content:space-evenly;
}
.carouselOfertas{
   @include flexColumn;
   align-items: center;
}

.enviosPedidos{
    @include flexRow;
    color: $color-dos;
    justify-content: space-around;
}       
.envios{
    @include flexColumn;
    align-items: center;
    
}
.envios h4{
    font-family: $familiaLecker;
    font-size: x-large;

}
.enviosP{
    text-align: $tcenter;
    ;
}
.articulos{
   @include flexRow;
}

.nuestras-propuestas{
   @include flexRow;
}
article {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 4px solid #ececec;

}

.articleppal{  
    width: 100%;
    border-radius: 10px;
}

article div {
    @include flexColumn;
    align-items: center;
}
.fantasmas{
   width: 70%;
   height: 500px;
}
.chef1{
   @include parrafotexto($familiaSacramento, 50px, $tcenter);
   color: #fa2929;
   margin-top: 40px;
   
}
.chef{
   @include parrafotexto($familiaSacramento, 50px, $tcenter)
}
.fantasmas{
   width: 70%;
   height: 500px;
}
.novedades{
    @include flexColumn;
}
.novedadesImagenes{
    @include flexRow;
    justify-content: space-evenly;
   

}
.bordeRedondeado{
    border-radius: 15px;
}
.cuadroNovedades{
    padding: 20px;
}
.img100{
    width: 100px;
}