.tutorial {
   @include flexColumn;
    align-items: center;
    background-color: rgb(232, 230, 230);
}
.tutorialConVideo{
    margin-top: 60px;
}
.tutorialImagen{
   @include flexColumn;
    align-items: center;
}
.parrafoTutorial {
   @include parrafotexto ($familiaSerif,25px,$tcenter)
}

.aprende{
    width: 600px;
}
