
$color-uno: white;
$color-dos: black;
$color-tres: #fa2929;
$color-cuatro: rgb(232, 230, 230);


$familiaSerif : "Story Script", sans-serif, cursive;
$familiaSacramento: "Sacramento", cursive;
$familiaLecker :"Leckerli One", cursive;

$tcenter : center;
