
$color-uno: white;
$color-dos: black;
$color-tres: #fa2929;
$color-cuatro: rgb(232, 230, 230);
$color-cinco:  rgba(211, 211, 211, 1);


$familiaSerif : "Story Script", sans-serif, cursive;
$familiaSacramento: "Sacramento", cursive;
$familiaLecker :"Leckerli One", cursive;

$tcenter : center;


